
body {
  margin: 0;
  padding: 0;
}

#header #myname {
	color: white;
	font-family: 'Georgia'
}

#header{
	width:200px;
	height:40px;
	background:#4aaaa5;
    margin:10;
    padding: 3px;
    margin: 0 auto;
    text-align:left;
}

#container{
	width:1024px;
	height:480px;
	padding: 10px
	background:#4aaaa5;
	margin: 0 auto;
	text-align:left;
}

