body {

	background-image: url('../images/background.png');
	background-repeat: repeat;
	
}

/*
.wrapper{
	width: 960px;
	margin: 0 auto;
	
	border: 1px solid #dddddd;
	height: 615px;
	
}
*/
.mainTop{
	margin: 0 auto;
	width: 100%;
	height: 80px;
	border-bottom: solid 1px #dddddd;
	position:relative;
	background: #ffffff;/* was yellow before*/
	margin-bottom: 10px;

}

header{
	position: absolute;
	background: #4aaaa5;
	color: white;
	left: 180px;
	bottom: 0;
	height: 50px;
	font-size: 40px;
	padding:10px;
	
}	

nav{
	
	position: absolute;
	right:160px;
	bottom: 0;
	color:#666460;
	padding-bottom: 20px;
	

}

.links{
	padding:10px;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

a:hover{
	 background-color: lightblue;
}

a.links, .asideImg, .portImage{ cursor: pointer; }


.middleSection{
	margin:0 auto;
	/*background: #ffffff*/;/*was pink before*/
	border-bottom: solid 1px #dddddd;
	position: relative;
	height: 700px;

}

section{
	background: #ffffff; /*was blue before*/
	float: left;
	width: 555px;
	height: 550px;
	position: absolute;
	top:34px;
	left: 180px;
	padding-left: 10px;
	margin-right: 10px;
	clear: both;
	padding-right: 10px;
	border: solid 1px #dddddd;
}

aside{
	background: #ffffff; /*was red before*/
	float: left;
	width: 20%;
	height:120px;
	position: absolute;
	top:34px;
	right:160px;
	padding-left: 10px;
	margin-right: 10px;
	border: solid 1px #dddddd;
	


}




h2{
	font-size:1.2em;
	line-height: 1;
	border-bottom: solid 2px #dddddd;
	margin-top:20px;

}

.inClassAside{
	text-align: center;

}

.asideImg {
margin-left: 25px;
margin-top:5px;



}

.floatImg{
	float: left;
	padding: 0 10px 10px 0;
}


.portImage{
	float: left;
	padding: 5px 35px 5px 35px;

}

.form{
	width: 555px;
}

.fields{
	width: 550px;

}


footer{
	clear: both;
	border-top: solid 3px #4aaaa5;
	background-color: gray;
	margin: 0 auto;
	height:20px;
	padding-top:20px;
	padding-bottom: 20px;
	color:white;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	bottom: 0;
}

